* {
   margin: 0;
   padding: 0;
}

body {
   background: #ffffff;
}

.topSection {
   position: fixed;
   z-index: 3000;
   width: 1400px;
   background-color: #ffffff;
   display: block;
   margin-right: 0;
   border-bottom: 2px solid black;
}

.TopHeader {
   display: flex;
   justify-content: space-around;
   font-size: smaller;
   margin: 0;
}

.content {
   display: flex;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
   gap: 20px;
}

.content .bl {
   border-right: 1px solid rgb(43, 38, 38);
   padding-right: 7px;
}

.action {
   padding-top: 10px;
   padding-bottom: 10px;
}

hr {
   border-bottom: 1px solid black;
}

.header-container {
   display: flex;
   align-items: center;
   padding: 10px;
}

.library {
   margin-left: 50px;
   margin-right: 420px;
}

.navbar ul {
   list-style: none;
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.navbar li {
   margin-left: 10px;
}

.navbar ul li a {
   font-size: 18px;
   color: #0e2431;
   font-weight: 18px;
   text-decoration: none;
}

.navbar ul li a:hover {
   color: black;
   border-bottom: .1rem solid rgb(31, 29, 29);
}

.search {
   padding: 5px 12px 5px 12px;
   border-radius: 5px;
   border: 1px thin black;
   background-color: white;
   color: black;
   display: flex;
   align-items: center;
   gap: 30px;


}

.book {
   padding: 8px 20px 8px 20px;
   border-radius: 5px;
   border: none;
   background-color: black;
   color: #ffffff;
   height: 40px;
}

.button {
   display: flex;
   gap: 5px;
   margin-left: 20px;
}

/* experience section */
.experience {
   position: relative;
}

.exp {
   background-image: url("../images/image.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 1350px;
   height: 900px;
}

.experience .real {
   position: absolute;
   left: 50px;
   top: 45%;
   z-index: 500;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(27, 22, 22, 0.3);
}

.dish {
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   color: white;
   margin-bottom: 0;
}

.dish2 {
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   color: white;
   margin-bottom: 20px;
   margin-top: 0;
}

.taste {
   color: white;
}

.btn {
   margin-top: 30px;
}

.table {
   border-radius: 3px;
   background-color: white;
   color: black;
   padding: 9px 15px 9px 15px;
   border: none;
   margin-right: 10px;
   font-size: small;
}

.order {
   border-radius: 3px;
   background-color: transparent;
   color: white;
   font-size: small;
   padding: 9px 15px 9px 15px;
   border: 1px solid white;
}

.restaurant {
   gap: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 540px;
   margin-top: 100px;
   margin-left: 0;
}

.hand {
   background: url("../images/rice.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 629px;
   height: 440px;
   margin-left: 0;
}

/* welcome section */
.welcome {
   margin-left: 0;
   margin-top: 90px;
   width: 429px;
   height: 440px;
}

.our {
   font-family: sans-serif serif;
}

.p1 {
   margin-top: 30px;
}

.p2 {
   margin-top: 30px;
}

.a {
   background: transparent;
   border: 2px thin black;
   padding: 8px 15px 8px 15px;
   border-radius: 5px;
   margin-top: 30px;
   font-size: small;
}

.pancake {
   background: url("../images/pancake.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 929px;
   height: 540px;
   margin-left: 150px;
}

.about {
   gap: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 440px;
   margin-top: 100px;
   margin-left: 0;
}

.pan {
   margin-right: 360px;
   margin-top: 90px;
   width: 529px;
   height: 440px;
}

/* special dish section */
.special-dish {
   margin-top: 120px;
}

.special-content {
   text-align: center;
   margin-bottom: 50px;
}

.special-content h2 {
   font-size: 30px;
   margin-bottom: 10px;
}

.special-content p {
   margin-bottom: 35px;
}

.food {
   display: flex;
   justify-content: center;
   gap: 20px;
}

.food li {
   list-style: none;
}

.food li a {
   text-decoration: none;
   color: black;
}

.food li a:hover {
   color: black;
   border-bottom: .1rem solid rgb(31, 29, 29);
}

a .sea {
   color: black;
   border-bottom: .1rem solid rgb(31, 29, 29);
}

/*  cards of special dish section */
.card {
   row-gap: 20px;
}

.row {
   width: 350px;
   height: 450px;
   border-radius: 10px;
   background-color: silver;
   border: 1px solid #ddd;
   transition: background-color 1s, width 1s, height 1s, transform 2s
}

.first-row {
   /* margin-top:50px; */
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.second-row {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 50px;
}

.img {
   display: flex;
   justify-content: center;
}

.all {
   display: flex;
   justify-content: center;
   align-items: center;
}

.all1 {
   margin-top: 20px;
   background: white;
   padding: 10px 30px 10px 30px;
   border: 2px solid black;
   color: black;
   border-radius: 5px;
}

/* contact section */
.contact {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 30px;
}

.hour {
   width: 340px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.hour p a {
   text-decoration: none;
   color: black;
   border-bottom: 1px solid black;
}

/* form section */
.f-s {
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   gap: 80px;
   margin-top: 100px;
   /* width: 100%; */
}

   .form {
      margin-left: 60px;
      flex: 1.2;
      height: 90%;
      width: 20%;
      background: transparent;
   }

   header small.tag {
      display: block;
      color: rgb(12, 11, 11);
      font-size: 13px;
      margin-bottom: 8px;
   }

   h1 {
      font-size: 36px;
      margin: 0 0 8px 0;
      line-height: 1.05;
   }

   p.lead {
      color: black;
      margin: 0 0 24px 0;
   }

   form.card {
      border-radius: 12px;
      /* padding:22px; */
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.03);
   }

   .field {
      margin-bottom: 14px;
   }

   label {
      display: block;
      font-size: 13px;
      margin-bottom: 6px;
      color: black;
   }

   input[type=text],
   input[type=tel],
   input[type=date],
   input[type=time],
   textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 12px;
      border-radius: 8px;
      border: 1px solid black;
      font-size: 15px;
      outline: none;
   }

   textarea {
      min-height: 100px;
      resize: vertical;
   }

   .row1 {
      display: flex;
      gap: 16px;

   }

   .row1 .col {
      flex: 1;
   }

   .checkbox-row {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      margin-top: 8px;
   }

   .submit-row {
      margin-top: 18px;
   }

   button[type=submit] {
      background: black;
      color: white;
      border: 0;
      padding: 10px 18px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
   }

   .fork {
      flex: 1;
      height: 90%;
      width: 20%;
      margin-right: 30px;
   }

   .fork {
      background-image: url("../images/drink-fork.jpg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
   }

   /* achievements section */
   .achievements {
      width: 100%;
      height: 30vh;
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 100px;
   }

   .our {
      margin-bottom: 20px;
   }

   .branches {
      display: flex;
      gap: 180px;
      margin-top: 20px;
   }

   .non {
      display: flex;
      align-items: center;
   }

   .hh {
      margin-bottom: 5px;
   }

   /* happy customer section */
   .happy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: ; */
      gap: 25px;
      margin-top: 150px;
   }

   .hp {
      margin-left: 70px;
   }

   .happy h1 {
      font-size: 40px;
      margin-bottom: 30px;
   }

   .happy p {
      margin-bottom: 50px;
   }

   .pose {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
   }

   .position {
      width: 300px;
      border: 1px solid black;
      border-radius: 2px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .com {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   .jen {
      border-radius: 50%;
   }

   /* border section */
   .border-arrow{
      margin-top:50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:50px;
   }
   .border {
      display: flex;
      height: 1px;
      gap: 5px;
      margin-left: 70px;
   }
   .bd1{
      background-color: black;
      border-radius: 50%;
      padding: 4px;
   }
   .bd{
       background-color: silver;
      border-radius: 50%;
      padding: 4px;
   }

   .border-radius {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-right: 70px;
     
   }
   .leftarr, .rightarr{
      border-radius: 50%;
      border: 1px solid black;
   }
.arr{
   display: flex;
      align-items: center;
      padding: 8px;
}
   /* footer section */
   .foot {
      display: flex;
      flex-direction: column;
      background: black;
      margin-top: 100px;
      gap: 80px;
      padding: 40px;
      color: white;
   }

   .sec1,
   .sec2,
   .sec3 {
      display: flex;
      justify-content: space-between;
   }

   .to {
      margin-bottom: 20px;
   }

   .days {
      display: flex;
      gap: 50px;
   }

   .bot {
      margin-bottom: 5px;
   }

   .day {
      display: flex;
      flex-direction: column;
   }

   .your {
      padding: 10px 80px 10px 10px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: transparent;
      color: white;
   }

   .small {
      font-size: 9px;
      margin-top: 10px;
   }

   .small a {
      text-decoration: none;
      border-bottom: 1px solid white;
      color: white;
   }

   .scribe {
      padding: 10px 20px 10px 20px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: transparent;
      color: white;
   }

   .same {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .same ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .same ul a {
      text-decoration: none;
      color: white;
   }

   .sec3 {
      border-top: 2px solid white;
   }

   .right {
      display: flex;
      gap: 20px;
      margin-top: 30px;
   }

   .right p {
      font-size: 15px;
   }

   .right ul {
      list-style: none;
      display: flex;
      /* flex-direction: column; */
      gap: 10px;
   }

   .right ul a {
      text-decoration: none;
      border-bottom: 1px solid white;
      color: white;
   }

   .tweet {
      margin-top: 30px;
   }